openapi: 3.0.0
info:
  title: Userlist Push API
  version: '1.0'
  contact:
    name: Userlist
    url: 'https://userlist.com'
    email: support@userlist.com
  description: 'Userlist''s Push API allows you to send data into Userlist. '
servers:
  - url: 'https://push.userlist.com'
paths:
  /users:
    post:
      summary: Create or update a user
      operationId: push-user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            examples: {}
        description: Post the necessary fields for the API to create a new user.
      description: Create or update a user.
      responses:
        '202':
          description: Accepted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      tags:
        - user
  /users/{user-identifier}:
    delete:
      summary: Delete a user
      operationId: delete-user
      parameters:
        - in: path
          required: true
          name: user-identifier
          schema:
            oneOf:
              - type: string
              - type: number
          style: simple
      responses:
        '202':
          description: Accepted
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - user
  /companies:
    post:
      summary: Create or update a company
      operationId: push-company
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
            examples: {}
        description: Post the necessary fields for the API to create a new company.
      description: Create or update a company.
      responses:
        '202':
          description: Accepted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      tags:
        - company
  /companies/{company-identifier}:
    delete:
      summary: Delete a company
      operationId: delete-company
      parameters:
        - in: path
          required: true
          name: company-identifier
          schema:
            oneOf:
              - type: string
              - type: number
          style: simple
      responses:
        '202':
          description: Accepted
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - company
  /relationships:
    post:
      summary: Create or update a relationship
      description: Create or update a relationship
      tags:
        - relationship
      responses:
        '202':
          description: Accepted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      operationId: push-relationship
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relationship'
            examples: {}
  /relationships/{user-identifier}/{company-identifier}:
    delete:
      summary: Delete a relationship
      operationId: delete-relationship
      parameters:
        - in: path
          required: true
          name: user-identifier
          schema:
            oneOf:
              - type: string
              - type: number
          style: simple
        - in: path
          required: true
          name: company-identifier
          schema:
            oneOf:
              - type: string
              - type: number
          style: simple
      responses:
        '202':
          description: Accepted
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - relationship
  /events:
    post:
      summary: Create an event
      description: Create an event
      tags:
        - event
      responses:
        '202':
          description: Accepted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      operationId: push-event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
            examples: {}
components:
  schemas:
    User:
      title: User
      type: object
      description: ''
      properties:
        identifier:
          oneOf:
            - type: string
            - type: number
        properties:
          type: object
        email:
          type: string
          format: email
        signed_up_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
        unsubscribed_at:
          type: string
          format: date-time
      required:
        - identifier
      oneOf:
        - properties:
            company:
              oneOf:
                - $ref: '#/components/schemas/Company/properties/identifier'
                - $ref: '#/components/schemas/Company'
        - properties:
            companies:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/Company/properties/identifier'
                  - $ref: '#/components/schemas/Company'
        - properties:
            relationships:
              type: array
              items:
                $ref: '#/components/schemas/Relationship'

    Company:
      title: Company
      type: object
      description: ''
      properties:
        identifier:
          oneOf:
            - type: string
            - type: number
        properties:
          type: object
        name:
          type: string
        signed_up_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
        unsubscribed_at:
          type: string
          format: date-time
      required:
        - identifier
      oneOf:
        - properties:
            user:
              oneOf:
                - $ref: '#/components/schemas/User/properties/identifier'
                - $ref: '#/components/schemas/User'
        - properties:
            users:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/User/properties/identifier'
                  - $ref: '#/components/schemas/User'
        - properties:
            relationships:
              type: array
              items:
                $ref: '#/components/schemas/Relationship'
    Relationship:
      title: Relationship
      type: object
      properties:
        properties:
          type: object
        user:
          oneOf:
            - $ref: '#/components/schemas/User/properties/identifier'
            - $ref: '#/components/schemas/User'
        company:
          oneOf:
            - $ref: '#/components/schemas/Company/properties/identifier'
            - $ref: '#/components/schemas/Company'
    Event:
      title: Event
      type: object
      properties:
        name:
          type: string
        properties:
          type: object
        occured_at:
          type: string
          format: date-time
      required:
        - name
      anyOf:
        - properties:
            user:
              oneOf:
                - $ref: '#/components/schemas/User/properties/identifier'
                - $ref: '#/components/schemas/User'
          required:
            - user
        - properties:
            company:
              oneOf:
                - $ref: '#/components/schemas/Company/properties/identifier'
                - $ref: '#/components/schemas/Company'
          required:
            - company
    Error:
      title: Error
      type: object
      properties:
        status:
          type: integer
        code:
          type: string
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    pushKey:
      type: apiKey
      name: Authorization
      in: header
      description: Prefix the Push Key with the keyword "Push" to indicate its type.
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
security:
  - pushKey: []
tags:
  - name: user
  - name: company
  - name: relationship
  - name: event
